*{
    margin: 0%;
    padding: 0%;
}
.navbar{
    background-color: palevioletred;
    padding:10px;
    height: 50px;;
    
}
.navbar h1{
    color: black
    position: absolute;
    height: 50px;
}
.navbar img{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    left: 10%;
    top: 0%;
}
.hole_book{
    margin: 10px;
}
.book_page{
    width: 25%;
    padding: 10px;
    margin: 10px;
    background-color: black;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
}


.book_page h2{
    color: aqua;
}
.book_page h5{
    color: chartreuse;
}
.book_page p{
    color: aliceblue;
}
.book_page button{
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    background-color:khaki;
    color: black;
    
}
.add_button{
    color:black;
    background-color: rgb(204, 33, 61);
    border: 0%;
    border-radius: 100%;
    width: 8%;
    height: 10%;
    left: 90%;
    position: fixed;
    top: 80%;
    bottom: 20%;
    right: 10px;
    font-size: 40px;
   
}
.pop_overley{
    background-color: black;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: 1;
    display: none;
}
.pop_page{
    width: 25%;
    padding: 10 px;
    background-color:black;
    border-radius: 10px;
    position: absolute;
    left:30%;
    top: 16%;
    z-index: 2;
    display: none;
}
.pop_page h1{
    color: aqua;
}
.pop_page input{
    border: none;
    background-color: white;
    width: 80%;
    margin: 3%;
    padding: 2%;
    font: size 20px;
    border-bottom: solid white 2px;
    left: 0%;
    border-color:rgb(238, 234, 18);rgb(238, 234, 18);
    z-index: 3;
}
.pop_page textarea{
    border: none;
    background-color:white;
    border-color:rgb(238, 234, 18);
    width: 80%;
    margin: 5%;
    padding: 5%;
    font: size 20px;
    border-bottom: solid white 2px;
    left: 0%;
    z-index: 3;
}
.pop_page button{
    border-radius: 25%;
    color: black;
    background-color: yellow;
    width: 20%;
    padding: 5px;
}
.pop_page input::placeholder
{
    color:brown;
}
.pop_page textarea::placeholder{
    color: brown;
}
.pop_page input:focus{
outline: none;
}
.pop_page textarea:focus{
outline: none;
}